.box {
  margin: 1pt;
  width: 72pt;
  height: 72pt;
  border: 2px solid black;
  transition-duration: 0.5s;
}

.container {
  text-align: center;
  height: 80%;
  width: 50%;
  margin: 0 auto;
  min-height: 100vh;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: linear-gradient(
    to bottom,
    #5d9634,
    #5d9634 50%,
    #538c2b 50%,
    #538c2b
  );
  /* The rectangle in which to repeat. 
     It can be fully wide in this case */
  background-size: 100% 20px;
}

.box.on {
  background-color: yellow;
}

.box.off {
  background-color: grey;
}

.board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50%; /*requires explicit height*/
}
